.checked{
    width: 300px;
    text-decoration: line-through;
    background-color: grey;
}
.unchecked{
    width: 300px;
}
.data {
    width: 1em;
    text-decoration: none !important;
}
li{
    margin-bottom: 40px;
    list-style-type: none;
}
.break{
    width: 100%;
}
header{
    text-align: center;
    margin-bottom: 15px;
}
.list-style{
    justify-items: center !important;
}


.grid-container{
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.cell{
    text-align: center;
}