body{
    background-color: #3c345c;
    color: aliceblue;
}
.checked{
    width: 300px;
    text-decoration: line-through;
    background-color: #99a8bb;
}
.unchecked{
    width: 300px;
}
.data {
    width: 1em;
    text-decoration: none !important;
}
li{
    list-style-type: none;
}
.break{
    width: 100%;
}
header{
    text-align: center;
    margin-bottom: 15px;
}
.list-style{
    justify-items: center !important;
}


.grid-container{
    
    margin: 2rem;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.cell{
    text-align: center;
}
.nested-grid{
    /* margin: 2rem; */
    display: grid;
    grid-template-rows: auto;
    
}
.nested-cell{
    width: 50%;
    background-color: #124c81;
    padding: 1em;
    margin-top: 1em;
    justify-self: center;
    display: grid;
    grid-template-columns: 70% 30%;
    word-wrap: break-word;
    border-radius: 0.2em;
}
.nested-cell span {
    text-decoration: none;
    display:inline-block;
}
input[type='checkbox']{
    margin-right: 25%;
}